html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"),
        url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
body {
    margin: 0;
    font-size: 0;
    font-family: Lato, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
p {
    line-height: 1.5rem;
}
section {
    padding: 32px 16px 32px;
}
@media (max-width: 750px) {
    section {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.page-margin {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1180px) {
    .page-margin {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 650px) {
    .page-margin {
        margin-left: 0;
        margin-right: 0;
    }
    .page-margin section {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.section-light {
    background-color: #f1f2f6;
}
.section-first {
    padding-top: 16px;
}
.section-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.faq-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 8px;
}
.faq-content {
    font-size: 16px;
    font-weight: 300;
}
.faq-content a {
    color: #7d64dc;
    font-weight: 400;
}
.faq-content a:hover {
    text-decoration: underline;
}
.faq-subscribe {
    font-size: 0;
}
.faq-subscribe input {
    font-size: 16px;
    padding: 3px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: 0;
}
.faq-subscribe button {
    font-size: 16px;
    padding: 3px;
    border: 2px solid #000;
    border-radius: 0 5px 5px 0;
    color: #fff;
    background-color: #7d64dc;
    outline: 0;
    cursor: pointer;
}
.faq-subscribe-invalid {
    color: red;
    font-size: 14px;
}
.faq-subscribe-success {
    display: none;
    font-size: 16px;
    font-weight: 400;
    color: #7d64dc;
}
h1,
h2 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 24px;
}
@media (max-width: 750px) {
    h1,
    h2 {
        font-size: 20px;
        margin: 0 0 16px;
    }
}
.top-nav {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eae6e6;
    position: relative;
}
.top-nav .page-margin {
    position: relative;
}
.top-nav .logo {
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    color: #000;
    line-height: 80px;
    letter-spacing: -2px;
    position: absolute;
    z-index: 100;
}
.top-nav .logo a {
    color: inherit;
    text-decoration: none;
}
.top-nav .logo .we {
    font-weight: 300;
}
.top-nav .nav-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.top-nav ul.top-nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.top-nav ul.top-nav-items li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 0.5px;
    height: 100%;
    line-height: 80px;
}
.top-nav ul.top-nav-items li:hover .nav-expander {
    display: inline-block;
}
.top-nav ul.top-nav-items li .nav-expander {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eae6e6;
    border-top: 1px solid #fff;
    padding: 0 20px 10px;
}
.top-nav ul.top-nav-items li .nav-expander h2 {
    margin: 0;
}
.top-nav ul.top-nav-items li .nav-expander ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
}
.top-nav ul.top-nav-items li .nav-expander ul li {
    display: inline-block;
    background-color: #e6e6e6;
    line-height: 35px;
    margin-left: 4px;
    margin-right: 4px;
    color: #565656;
}
.top-nav ul.top-nav-items li .nav-expander ul li:hover {
    text-decoration: underline;
}
.top-nav .nav-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.top-nav .nav-icon {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    margin-left: 20px;
}
.top-nav .nav-icon-search {
    line-height: 80px;
}
.top-nav .nav-icon-menu {
    display: none;
}
.top-nav .vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.top-nav .nav-icon-img {
    height: 30px;
    vertical-align: middle;
}
.top-nav .nav-search {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-nav .nav-search input {
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    width: 400px;
    text-align: center;
    padding: 5px;
}
.top-nav .nav-search input:focus {
    outline: 2px solid #e1e1e1;
}
.top-nav .top-nav-items-search-show {
    display: none;
}
.top-nav .search-box-hide {
    display: none;
}
.top-nav .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    top: 98% !important;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions {
    text-align: left;
    padding: 5px 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion {
    line-height: 50px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 300;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion em {
    font-style: normal;
    font-weight: 400;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion:hover {
    text-decoration: underline;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion span {
    font-size: 20px;
    vertical-align: middle;
}
@media (max-width: 900px) {
    .top-nav {
        height: 50px;
    }
    .top-nav .nav-margin {
        text-align: center;
    }
    .top-nav .top-nav-items {
        border-bottom: 1px solid #eae6e6;
    }
    .top-nav .logo {
        position: relative;
        line-height: 50px;
        font-size: 30px;
    }
    .top-nav .nav-icon-menu {
        display: inline-block;
    }
    .top-nav .nav-icon-search {
        display: none;
    }
    .top-nav .nav-search {
        width: 100%;
    }
    .top-nav .nav-search input {
        border: 1px solid #e1e1e1;
        max-width: 90%;
    }
    .top-nav .algolia-autocomplete {
        width: 100%;
    }
    .top-nav .aa-dropdown-menu {
        margin: auto 4%;
        width: 92%;
        box-sizing: border-box;
    }
    .top-nav .nav-centre {
        display: none;
        top: auto;
        left: auto;
        transform: none;
    }
    .top-nav .mobile-menu-show {
        display: block;
        width: 100%;
    }
    .top-nav ul.top-nav-items {
        display: block;
        height: auto;
        position: absolute;
        background-color: #fff;
        width: 100%;
    }
    .top-nav ul.top-nav-items li {
        display: block;
    }
    .top-nav ul.top-nav-items li:hover .nav-expander {
        display: block;
    }
    .top-nav ul.top-nav-items li .nav-expander {
        position: relative;
        display: block;
        border: none;
        padding: 0;
    }
    .top-nav ul.top-nav-items li .nav-expander h2 {
        display: none;
    }
    .top-nav ul.top-nav-items li .nav-expander ul {
        line-height: 40px;
    }
    .top-nav ul.top-nav-items li .nav-expander ul li {
        line-height: 30px;
        font-size: 12px;
        height: auto;
        padding: 0 6px;
        margin: 3px;
    }
}
@media (max-width: 900px) {
    .top-nav .nav-icons {
        margin-right: 20px;
    }
}
.page-footer {
    width: 100%;
    background-color: #343538;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.page-footer .page-margin {
    margin-left: auto;
    margin-right: auto;
}
.page-footer .footer-col {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    vertical-align: top;
    box-sizing: border-box;
}
.page-footer .footer-col:nth-of-type(4n-3) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-2) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-1) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-0) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col .footer-col-heading {
    font-weight: 400;
    line-height: 30px;
}
.page-footer .footer-col .footer-logo {
    font-size: 30px;
}
.page-footer .footer-col .footer-logo .footer-logo-we {
    font-weight: 300;
}
.page-footer .footer-col .footer-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    margin-top: 22px;
}
.page-footer .footer-col ul {
    list-style: none;
    padding: 0;
}
.page-footer .footer-col ul li {
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
}
.page-footer .footer-col a:hover {
    text-decoration: underline;
}
.page-footer .footer-col ul.social-links li {
    display: inline-block;
}
.page-footer .footer-col ul.social-links li a img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.page-footer .footer-col ul.social-links li a img:hover {
    opacity: 0.7;
}
@media (max-width: 900px) {
    .page-footer .footer-col {
        width: 50%;
        margin-bottom: 50px;
    }
    .page-footer .footer-col:nth-of-type(2n-1) {
        padding-right: 5px;
        padding-left: 25px;
    }
    .page-footer .footer-col:nth-of-type(2n-0) {
        padding-right: 25px;
        padding-left: 5px;
    }
    .page-footer .footer-col .footer-text {
        line-height: 25px;
    }
    .page-footer .footer-col ul li {
        line-height: 30px;
    }
}
.coupon-list-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(19, 41, 104, 0.2) 0 2px 5px 0;
}
.coupon-list-heading {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #e4e8ee;
}
.coupon-list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e4e8ee;
    user-select: none;
}
@media (max-width: 750px) {
    .coupon-list-row {
        flex-wrap: wrap;
        padding: 16px 10px;
    }
}
.coupon-list-row-active-hidden {
    display: none;
}
.coupon-list-row-expired-hidden {
    display: none;
}
.coupon-list-row-expired {
    opacity: 0.8;
}
.coupon-list-footer {
    font-size: 16px;
    text-align: center;
    padding: 8px;
}
.coupon-list-footer a {
    color: #7d64dc;
    cursor: pointer;
}
.coupon-list-footer a:hover {
    text-decoration: underline;
}
.coupon-info-container {
    display: flex;
}
@media (max-width: 750px) {
    .coupon-info-container {
        flex-basis: 60%;
    }
}
.coupon-logo {
    height: 60px;
    width: 60px;
    margin-right: 16px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-logo {
        height: 50px;
        width: 50px;
        margin-right: 8px;
    }
}
.coupon-info {
    width: 150px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    text-align: left;
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-info {
        width: auto;
    }
}
.coupon-info:hover {
    text-decoration: underline;
}
.coupon-heading {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}
.coupon-heading-flag {
    color: #565656;
    border: 1px solid #565656;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    padding: 0 5px;
}
.coupon-heading-flag-green {
    color: #56c440;
    border-color: #56c440;
}
.coupon-heading-flag-blue {
    color: #57c3f7;
    border-color: #57c3f7;
}
.coupon-line-1 {
    font-weight: 700;
    text-transform: uppercase;
}
.coupon-line-2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon-domain {
    font-size: 14px;
    font-weight: 300;
}
.coupon-feature {
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-feature {
        margin-top: 10px;
        flex-basis: 25%;
        align-self: baseline;
        text-align: center;
    }
}
.coupon-feature:hover {
    text-decoration: underline;
}
.coupon-feature-title {
    font-size: 12px;
    line-height: 14px;
    color: #535353;
    font-weight: 300;
}
.coupon-feature-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #535353;
}
@media (max-width: 750px) {
    .coupon-feature-value {
        font-size: 14px;
    }
}
.coupon-feature-ending {
    font-size: 12px;
    line-height: 12px;
    color: #535353;
    height: 12px;
    font-weight: 300;
}
.coupon-button-container {
    display: flex;
    flex-direction: column;
    width: 180px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 750px) {
    .coupon-button-container {
        flex-basis: 40%;
        max-width: 40%;
    }
}
.coupon-button {
    box-sizing: border-box;
    border: 2px solid #7d64dc;
    background-color: #7d64dc;
    color: #fff;
    border-radius: 8px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    width: 100%;
    position: relative;
}
.coupon-button:hover {
    background-color: #fff;
    color: #7d64dc;
}
.coupon-button-sticker {
    border: 0;
}
.coupon-button-sticker:hover {
    background-color: #7d64dc;
    color: #fff;
}
.coupon-button-sticker:after {
    transition: all 0.2s ease-in-out;
    content: "";
    height: 16px;
    width: 16px;
    background-color: #7d64dc;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 8px 0 8px;
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    background: #b097ff;
    background: -moz-linear-gradient(
        45deg,
        #b097ff 0,
        #977ef6 50%,
        #f1f2f6 51%,
        #f1f2f6 100%
    );
    background: -webkit-linear-gradient(
        45deg,
        #b097ff 0,
        #977ef6 50%,
        #f1f2f6 51%,
        #f1f2f6 100%
    );
    background: linear-gradient(
        45deg,
        #b097ff 0,
        #977ef6 50%,
        #f1f2f6 51%,
        #f1f2f6 100%
    );
}
.coupon-button-sticker:hover:after {
    height: 27px;
    width: 27px;
}
.coupon-button-highlight {
    background-color: #7d64dc;
    color: #fff;
}
.coupon-button-highlight:hover {
    background-color: #fff;
    color: #7d64dc;
}
.coupon-button-title {
    font-size: 10px;
    line-height: 10px;
}
.coupon-button-code {
    font-size: 25px;
    font-weight: 600;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 750px) {
    .coupon-button-code {
        font-size: 22px;
    }
}
.coupon-button-flag {
    font-size: 14px;
    background-color: #dc7064;
    color: #fff;
    display: none;
    margin-bottom: 5px;
    padding: 2px 5px;
}
.coupon-button-sub {
    display: none;
    margin-top: 5px;
    font-size: 14px;
    color: #565656;
}
@media (max-width: 750px) {
    .mob-order-1 {
        order: 1;
    }
    .mob-order-2 {
        order: 2;
    }
    .mob-order-3 {
        order: 3;
    }
    .mob-order-4 {
        order: 4;
    }
    .mob-order-5 {
        order: 5;
    }
}
.section-store-info {
    padding-left: 16px;
    padding-right: 16px;
}
.store-info {
    display: flex;
}
@media (max-width: 750px) {
    .store-info {
        flex-direction: column;
    }
}
.store-info-panel {
    box-sizing: border-box;
    width: 50%;
    font-size: 16px;
}
@media (min-width: 750px) {
    .store-info-panel:first-of-type {
        padding-right: 8px;
    }
    .store-info-panel:last-of-type {
        padding-left: 8px;
    }
}
@media (max-width: 750px) {
    .store-info-panel {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
.store-info-section {
    margin-bottom: 24px;
}
.store-info-logo {
    width: 80px;
    height: 80px;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}
.store-info-name {
    font-size: 25px;
    font-weight: 600;
}
.store-info-domain {
    font-size: 16px;
    font-weight: 300;
}
.store-info-tags {
    font-size: 0;
    margin-top: 5px;
}
.store-info-tag {
    font-size: 16px;
    background-color: #f1f2f6;
    color: #565656;
    display: inline-block;
    padding: 3px 5px 4px;
    margin-right: 6px;
    margin-bottom: 8px;
}
.store-info-tag:hover {
    text-decoration: underline;
}
.store-info-description {
    font-weight: 300;
}
.store-summary-headline {
    font-size: 18px;
    font-weight: 600;
    color: #919191;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.store-summary-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: left;
}
.store-summary-description {
    font-weight: 300;
}
.store-summary-description p {
    margin: 8px 0;
}
.store-summary-table {
    width: 100%;
}
.store-summary-row {
    font-size: 16px;
    line-height: 24px;
}
.store-summary-row-label {
    padding-left: 10px;
    border-bottom: 1px solid #f1f2f6;
}
.store-summary-row-value {
    border-bottom: 1px solid #f1f2f6;
}
.store-summary-activity {
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #f1f2f6;
    padding: 2px;
}
.store-summary-links li {
    line-height: 26px;
}
.store-summary-links a {
    color: #7d64dc;
}
.store-summary-links a:hover {
    text-decoration: underline;
}
.activity-emoji {
    font-size: 16px;
    vertical-align: -2px;
}
.activity-saving {
    font-weight: 400;
}
.activity-code {
    font-weight: 400;
}
.activity-time {
    color: #565656;
}
.related-stores {
    display: flex;
    flex-wrap: wrap;
}
.related-store {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
@media (max-width: 750px) {
    .related-store {
        flex-basis: 100%;
    }
}
.related-store:hover {
    text-decoration: underline;
}
.related-store-logo {
    height: 45px;
    width: 45px;
    margin-right: 8px;
    border-radius: 50%;
}
.related-store-name {
    font-weight: 400;
}
.related-store-title {
    font-size: 18px;
    font-weight: 300;
}
.related-store-domain {
    font-size: 16px;
    font-weight: 300;
}
.more-related-stores {
    display: flex;
    flex-direction: row;
}
@media (max-width: 750px) {
    .more-related-stores {
        flex-direction: column;
    }
}
.more-related-stores-col {
    flex-basis: 33.3%;
}
.more-related-stores-col h3 {
    font-size: 22px;
}
@media (max-width: 750px) {
    .more-related-stores-col {
        flex-basis: 100%;
    }
}
.more-related-store-container {
    background-color: #fff;
    display: inline-block;
    padding: 1px 4px;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
}
.more-related-store {
    font-size: 15px;
    line-height: 22px;
    color: #565656;
}
.more-related-store:hover {
    color: #7d64dc;
    text-decoration: underline;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    max-width: 450px;
    width: 450px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: rgba(19, 41, 104, 0.2) 0 2px 5px 0;
    position: relative;
    box-sizing: border-box;
}
@media (max-width: 750px) {
    .modal {
        max-width: 98%;
    }
}
.modal-content {
    padding: 16px;
}
@media (max-width: 750px) {
    .modal-content {
        padding: 8px;
    }
}
.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.modal-deal {
    display: flex;
    margin-bottom: 10px;
}
.modal-logo {
    height: 55px;
    width: 55px;
    margin-right: 8px;
    border-radius: 50%;
}
.modal-deal-info {
    font-size: 20px;
}
.modal-section-title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}
.modal-copy-container {
    display: flex;
    margin-bottom: 15px;
}
.modal-copy-input {
    font-size: 24px;
    flex-basis: 75%;
    border-radius: 7px 0 0 7px;
    border: 2px solid #000;
    border-right: none;
    outline: 0;
    text-align: center;
    width: 75%;
}
.modal-copy-button {
    font-size: 16px;
    flex-basis: 25%;
    background-color: #7d64dc;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0 7px 7px 0;
    color: #fff;
    outline: 0;
    width: 25%;
}
.modal-qa-container {
    height: 150px;
    position: relative;
    overflow: hidden;
}
.modal-qa-question {
    border: 4px solid green;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 20px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    color: green;
}
.modal-qa-question-thanks {
    align-items: center;
    justify-content: center;
}
.qa-position-left {
    transform: translateX(-110%);
}
.qa-position-right {
    transform: translateX(110%);
}
.qa-question-top {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
}
.qa-question-storename {
    font-size: 14px;
    margin-bottom: 10px;
}
.qa-question-bottom {
    flex-basis: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qa-question-bottom-col {
    flex-direction: column;
}
.qa-answer-button {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33.3%;
    cursor: pointer;
}
.qa-answer-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.qa-answer-red {
    color: #c40c0c;
}
.qa-answer-orange {
    color: orange;
}
.qa-answer-grey {
    display: none;
    color: #565656;
}
.qa-answer-icon {
    font-size: 30px;
    margin-bottom: 10px;
    border: 4px solid;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 33px;
    border-radius: 50%;
}
.qa-answer-label {
    color: #565656;
}
.qa-answer-input-container {
    font-size: 0;
    width: 90%;
    display: flex;
    margin-bottom: 10px;
}
.qa-answer-input-input {
    color: #565656;
    width: 66%;
    font-size: 16px;
    border-top: 2px solid #565656;
    border-left: 2px solid #565656;
    border-bottom: 2px solid #565656;
    border-right: 0;
    text-align: center;
    line-height: 28px;
    border-radius: 5px 0 0 5px;
    outline: 0;
}
.qa-answer-input-button {
    color: #565656;
    width: 33%;
    font-size: 14px;
    border-top: 2px solid #565656;
    border-right: 2px solid #565656;
    border-bottom: 2px solid #565656;
    border-left: 0;
    line-height: 28px;
    background-color: #f1f2f6;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    outline: 0;
}
.qa-question-skip {
    font-size: 14px;
    font-weight: 300;
    color: #565656;
}
.qa-question-skip:hover {
    text-decoration: underline;
}
.qa-thanks {
    font-size: 24px;
}
#q0.qa-has-next-deal .qa-answer-orange,
#q0.qa-has-next-deal .qa-answer-red {
    display: none;
}
#q0.qa-has-next-deal .qa-answer-grey {
    display: flex;
}
#q0.qa-has-next-deal .qa-answer-button {
    flex-basis: 50%;
}
#modal-deal {
    display: none;
}
#modal-chrome {
    display: none;
}
.modal-chrome {
    background-color: #7d64dc;
    padding: 20px;
    position: relative;
}
.modal-chrome .ext-mockup-container {
    margin-bottom: 20px;
}
.modal-chrome .ext-copy {
    margin-bottom: 20px;
}
.modal-chrome-close {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.ext-row {
    display: none;
    padding: 10px;
    border-bottom: 1px solid #f1f2f6;
    background-color: #7d64dc;
    justify-content: space-around;
}
@media (max-width: 750px) {
    .ext-row {
        flex-direction: column;
    }
}
.popup .ext-row {
    flex-direction: column;
}
.ext-row-show {
    display: flex;
}
.ext-headline {
    color: #fff;
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.ext-toolbar {
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: flex;
    padding: 5px;
    align-items: center;
    margin-bottom: 12px;
}
.ext-toolbar-icons {
    height: 16px;
    padding: 0 10px;
}
.ext-toolbar-url {
    font-size: 16px;
    font-weight: 300;
    background-color: #f1f3f4;
    flex-grow: 1;
    padding: 5px 15px;
    border-radius: 16px;
}
.ext-mockup-container {
    display: flex;
    justify-content: center;
}
.ext-mockup {
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #565656;
    display: flex;
    position: relative;
    z-index: 1;
}
.ext-mockup:before {
    content: " ";
    height: 15px;
    width: 15px;
    position: absolute;
    top: -7px;
    left: 26px;
    background-color: #fff;
    transform: rotate(45deg);
    z-index: -1;
}
.ext-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
    align-self: center;
}
@media (max-width: 750px) {
    .ext-logo {
        height: 45px;
        width: 45px;
    }
}
.ext-details {
    display: flex;
    flex-direction: column;
}
.ext-line-1 {
    font-size: 14px;
    font-weight: 300;
}
.ext-line-1 strong {
    font-weight: 500;
}
@media (max-width: 750px) {
    .ext-line-1 {
        font-size: 12px;
    }
}
.ext-line-2 {
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 750px) {
    .ext-line-2 {
        font-size: 16px;
    }
}
.ext-line-3 {
    font-size: 14px;
}
@media (max-width: 750px) {
    .ext-line-3 {
        font-size: 12px;
    }
}
.ext-copy {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.ext-copy-1 {
    font-size: 22px;
    font-weight: 400;
}
@media (max-width: 750px) {
    .ext-copy-1 {
        font-size: 18px;
    }
}
.ext-copy-2 {
    font-size: 20px;
    font-weight: 300;
}
@media (max-width: 750px) {
    .ext-copy-2 {
        font-size: 16px;
    }
}
.ext-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ext-action a {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.ext-action a:hover {
    background-color: #fff;
    color: #7d64dc;
}
@media (max-width: 750px) {
    .ext-action a {
        font-size: 18px;
        padding: 7px 10px;
    }
}
.modal-chrome .ext-action a {
    font-size: 22px;
    background-color: #fff;
    color: #7d64dc;
}
.modal-chrome .ext-action a:hover {
    background-color: #7d64dc;
    color: #fff;
}
.ext-sub-action-container {
    text-align: center;
}
.ext-sub-action {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
}
.modal-ext-reviews {
    padding: 10px;
    background-color: #f5f5f5;
}
.ext-reviews-store {
    display: flex;
    align-items: center;
}
.ext-store-logo {
    height: 35px;
    justify-self: flex-start;
}
.ext-store-stars {
    font-size: 21px;
    color: #4c4c4c;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
}
.ext-store-users {
    font-size: 16px;
    font-weight: 400;
    color: #4c4c4c;
    margin-left: 25px;
    justify-self: flex-end;
}
.ext-review-scroll {
    padding-top: 10px;
}
.ext-review-container {
    padding: 10px;
    color: #484848;
}
.ext-review-text {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: center;
}
.ext-review-details {
    text-align: center;
}
.ext-review-author {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.ext-review-date {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
}
.email-row {
    display: none;
    padding: 16px;
    border-bottom: 1px solid #f1f2f6;
    background-color: #7d64dc;
    justify-content: space-evenly;
}
@media (max-width: 750px) {
    .email-row {
        padding: 10px;
        flex-direction: column;
        align-items: center;
    }
}
.email-row-show {
    display: flex;
}
.email-copy {
    display: flex;
}
@media (max-width: 750px) {
    .email-copy {
        margin-bottom: 16px;
    }
}
.email-logo {
    margin-right: 16px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.5);
}
.email-copy-lines {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.email-copy-1 {
    font-size: 20px;
}
.email-copy-1 strong {
    font-weight: 600;
}
@media (max-width: 750px) {
    .email-copy-1 {
        font-size: 18px;
    }
}
.email-copy-2 {
    font-size: 18px;
    font-weight: 300;
}
@media (max-width: 750px) {
    .email-copy-2 {
        font-size: 16px;
    }
}
.email-form {
    display: flex;
    align-items: center;
    flex-basis: 40%;
    justify-content: center;
}
@media (max-width: 750px) {
    .email-form {
        max-width: 400px;
        width: 100%;
    }
}
.email-input {
    font-size: 16px;
    flex-basis: 75%;
    border-radius: 7px 0 0 7px;
    border: 2px solid #000;
    border-right: none;
    outline: 0;
    text-align: center;
    padding: 6px;
}
.email-button {
    font-size: 16px;
    flex-basis: 25%;
    background-color: #f1f2f6;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0 7px 7px 0;
    color: #565656;
    outline: 0;
    padding: 6px;
    cursor: pointer;
}
.email-button:hover {
    background-color: #7d64dc;
    color: #fff;
}
.email-confirm {
    display: none;
    font-size: 20px;
    color: #fff;
}
.email-confirm-show {
    display: block;
}
