html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"),
        url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
body {
    margin: 0;
    font-size: 0;
    font-family: Lato, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
section {
    padding: 32px 16px 32px;
}
@media (max-width: 750px) {
    section {
        padding-left: 8px;
        padding-right: 8px;
    }
}
.page-margin {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1180px) {
    .page-margin {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 650px) {
    .page-margin {
        margin-left: 0;
        margin-right: 0;
    }
    .page-margin section {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.section-light {
    background-color: #f1f2f6;
}
.section-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1,
h2 {
    font-size: 24px;
    text-align: center;
    margin: 0 0 24px;
}
.home-tags {
    text-align: center;
}
.home-tag {
    font-size: 22px;
    background-color: #f1f2f6;
    display: inline-block;
    color: #565656;
    padding: 4px 15px 8px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.home-tag:hover {
    text-decoration: underline;
}
@media (max-width: 750px) {
    .home-tag {
        font-size: 18px;
        padding: 3px 10px 6px;
        margin-right: 3px;
        margin-left: 3px;
        margin-bottom: 7px;
    }
}
.top-nav {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eae6e6;
    position: relative;
}
.top-nav .page-margin {
    position: relative;
}
.top-nav .logo {
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    color: #000;
    line-height: 80px;
    letter-spacing: -2px;
    position: absolute;
    z-index: 100;
}
.top-nav .logo a {
    color: inherit;
    text-decoration: none;
}
.top-nav .logo .we {
    font-weight: 300;
}
.top-nav .nav-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.top-nav ul.top-nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.top-nav ul.top-nav-items li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 0.5px;
    height: 100%;
    line-height: 80px;
}
.top-nav ul.top-nav-items li:hover .nav-expander {
    display: inline-block;
}
.top-nav ul.top-nav-items li .nav-expander {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eae6e6;
    border-top: 1px solid #fff;
    padding: 0 20px 10px;
}
.top-nav ul.top-nav-items li .nav-expander h2 {
    margin: 0;
}
.top-nav ul.top-nav-items li .nav-expander ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
}
.top-nav ul.top-nav-items li .nav-expander ul li {
    display: inline-block;
    background-color: #e6e6e6;
    line-height: 35px;
    margin-left: 4px;
    margin-right: 4px;
    color: #565656;
}
.top-nav ul.top-nav-items li .nav-expander ul li:hover {
    text-decoration: underline;
}
.top-nav .nav-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.top-nav .nav-icon {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    margin-left: 20px;
}
.top-nav .nav-icon-search {
    line-height: 80px;
}
.top-nav .nav-icon-menu {
    display: none;
}
.top-nav .vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.top-nav .nav-icon-img {
    height: 30px;
    vertical-align: middle;
}
.top-nav .nav-search {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-nav .nav-search input {
    font-size: 20px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    width: 400px;
    text-align: center;
    padding: 5px;
}
.top-nav .nav-search input:focus {
    outline: 2px solid #e1e1e1;
}
.top-nav .top-nav-items-search-show {
    display: none;
}
.top-nav .search-box-hide {
    display: none;
}
.top-nav .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    top: 98% !important;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions {
    text-align: left;
    padding: 5px 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion {
    line-height: 50px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 300;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion em {
    font-style: normal;
    font-weight: 400;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion:hover {
    text-decoration: underline;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion span {
    font-size: 20px;
    vertical-align: middle;
}
@media (max-width: 900px) {
    .top-nav {
        height: 50px;
    }
    .top-nav .nav-margin {
        text-align: center;
    }
    .top-nav .top-nav-items {
        border-bottom: 1px solid #eae6e6;
    }
    .top-nav .logo {
        position: relative;
        line-height: 50px;
        font-size: 30px;
    }
    .top-nav .nav-icon-menu {
        display: inline-block;
    }
    .top-nav .nav-icon-search {
        display: none;
    }
    .top-nav .nav-search {
        width: 100%;
    }
    .top-nav .nav-search input {
        border: 1px solid #e1e1e1;
        max-width: 90%;
    }
    .top-nav .algolia-autocomplete {
        width: 100%;
    }
    .top-nav .aa-dropdown-menu {
        margin: auto 4%;
        width: 92%;
        box-sizing: border-box;
    }
    .top-nav .nav-centre {
        display: none;
        top: auto;
        left: auto;
        transform: none;
    }
    .top-nav .mobile-menu-show {
        display: block;
        width: 100%;
    }
    .top-nav ul.top-nav-items {
        display: block;
        height: auto;
        position: absolute;
        background-color: #fff;
        width: 100%;
    }
    .top-nav ul.top-nav-items li {
        display: block;
    }
    .top-nav ul.top-nav-items li:hover .nav-expander {
        display: block;
    }
    .top-nav ul.top-nav-items li .nav-expander {
        position: relative;
        display: block;
        border: none;
        padding: 0;
    }
    .top-nav ul.top-nav-items li .nav-expander h2 {
        display: none;
    }
    .top-nav ul.top-nav-items li .nav-expander ul {
        line-height: 40px;
    }
    .top-nav ul.top-nav-items li .nav-expander ul li {
        line-height: 30px;
        font-size: 12px;
        height: auto;
        padding: 0 6px;
        margin: 3px;
    }
}
@media (max-width: 900px) {
    .top-nav .nav-icons {
        margin-right: 20px;
    }
}
.page-footer {
    width: 100%;
    background-color: #343538;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.page-footer .page-margin {
    margin-left: auto;
    margin-right: auto;
}
.page-footer .footer-col {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    vertical-align: top;
    box-sizing: border-box;
}
.page-footer .footer-col:nth-of-type(4n-3) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-2) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-1) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-0) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col .footer-col-heading {
    font-weight: 400;
    line-height: 30px;
}
.page-footer .footer-col .footer-logo {
    font-size: 30px;
}
.page-footer .footer-col .footer-logo .footer-logo-we {
    font-weight: 300;
}
.page-footer .footer-col .footer-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    margin-top: 22px;
}
.page-footer .footer-col ul {
    list-style: none;
    padding: 0;
}
.page-footer .footer-col ul li {
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
}
.page-footer .footer-col a:hover {
    text-decoration: underline;
}
.page-footer .footer-col ul.social-links li {
    display: inline-block;
}
.page-footer .footer-col ul.social-links li a img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.page-footer .footer-col ul.social-links li a img:hover {
    opacity: 0.7;
}
@media (max-width: 900px) {
    .page-footer .footer-col {
        width: 50%;
        margin-bottom: 50px;
    }
    .page-footer .footer-col:nth-of-type(2n-1) {
        padding-right: 5px;
        padding-left: 25px;
    }
    .page-footer .footer-col:nth-of-type(2n-0) {
        padding-right: 25px;
        padding-left: 5px;
    }
    .page-footer .footer-col .footer-text {
        line-height: 25px;
    }
    .page-footer .footer-col ul li {
        line-height: 30px;
    }
}
.coupon-list-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(19, 41, 104, 0.2) 0 2px 5px 0;
}
.coupon-list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #e4e8ee;
    user-select: none;
}
@media (max-width: 750px) {
    .coupon-list-row {
        flex-wrap: wrap;
        padding: 16px 10px;
    }
}
.coupon-info-container {
    display: flex;
}
@media (max-width: 750px) {
    .coupon-info-container {
        flex-basis: 60%;
    }
}
.coupon-logo {
    height: 60px;
    width: 60px;
    margin-right: 16px;
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-logo {
        height: 50px;
        width: 50px;
        margin-right: 8px;
    }
}
.coupon-info {
    width: 150px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-info {
        width: auto;
    }
}
.coupon-info:hover {
    text-decoration: underline;
}
.coupon-heading {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}
.coupon-heading-flag {
    color: #565656;
    border: 1px solid #565656;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
    padding: 0 5px;
}
.coupon-heading-flag-green {
    color: #56c440;
    border-color: #56c440;
}
.coupon-heading-flag-blue {
    color: #57c3f7;
    border-color: #57c3f7;
}
.coupon-line-1 {
    font-weight: 700;
    text-transform: uppercase;
}
.coupon-line-2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.coupon-domain {
    font-size: 14px;
    font-weight: 300;
}
.coupon-feature {
    cursor: pointer;
}
@media (max-width: 750px) {
    .coupon-feature {
        margin-top: 10px;
        flex-basis: 25%;
        align-self: baseline;
        text-align: center;
    }
}
.coupon-feature:hover {
    text-decoration: underline;
}
.coupon-feature-title {
    font-size: 12px;
    line-height: 14px;
    color: #535353;
    font-weight: 300;
}
.coupon-feature-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #535353;
}
@media (max-width: 750px) {
    .coupon-feature-value {
        font-size: 14px;
    }
}
.coupon-feature-ending {
    font-size: 12px;
    line-height: 12px;
    color: #535353;
    height: 12px;
    font-weight: 300;
}
.coupon-button {
    box-sizing: border-box;
    border: 2px solid #7d64dc;
    background-color: #7d64dc;
    color: #fff;
    border-radius: 8px;
    height: 45px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-self: center;
}
.coupon-button:hover {
    background-color: #fff;
    color: #7d64dc;
}
@media (max-width: 750px) {
    .coupon-button {
        flex-basis: 40%;
        max-width: 40%;
    }
}
.coupon-button-highlight {
    background-color: #7d64dc;
    color: #fff;
}
.coupon-button-highlight:hover {
    background-color: #fff;
    color: #7d64dc;
}
.coupon-button-title {
    font-size: 10px;
    line-height: 10px;
}
.coupon-button-code {
    font-size: 25px;
    font-weight: 600;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@media (max-width: 750px) {
    .coupon-button-code {
        font-size: 22px;
    }
}
@media (max-width: 750px) {
    .mob-order-1 {
        order: 1;
    }
    .mob-order-2 {
        order: 2;
    }
    .mob-order-3 {
        order: 3;
    }
    .mob-order-4 {
        order: 4;
    }
    .mob-order-5 {
        order: 5;
    }
}
.related-stores {
    display: flex;
    flex-wrap: wrap;
}
.related-store {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
@media (max-width: 750px) {
    .related-store {
        flex-basis: 100%;
    }
}
.related-store:hover {
    text-decoration: underline;
}
.related-store-logo {
    height: 45px;
    width: 45px;
    margin-right: 8px;
    border-radius: 50%;
}
.related-store-name {
    font-weight: 400;
}
.related-store-title {
    font-size: 18px;
    font-weight: 300;
}
.related-store-domain {
    font-size: 16px;
    font-weight: 300;
}
.more-related-stores {
    display: flex;
    flex-direction: row;
}
@media (max-width: 750px) {
    .more-related-stores {
        flex-direction: column;
    }
}
.more-related-stores-col {
    flex-basis: 33.3%;
}
.more-related-stores-col h3 {
    font-size: 22px;
}
@media (max-width: 750px) {
    .more-related-stores-col {
        flex-basis: 100%;
    }
}
.more-related-store-container {
    background-color: #fff;
    display: inline-block;
    padding: 1px 4px;
    margin-right: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    box-sizing: border-box;
}
.more-related-store {
    font-size: 15px;
    line-height: 22px;
    color: #565656;
}
.more-related-store:hover {
    color: #7d64dc;
    text-decoration: underline;
}

.wwd {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f1f2f6;
}
.wwd h1 {
    font-size: 35px;
    background-color: #7d64dc;
    color: #fff;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    word-wrap: break-word;
    position: relative;
    left: 10px;
    padding-left: 0;
    box-shadow: 10px 0 0 #7d64dc, -10px 0 0 #7d64dc;
    line-height: 60px;
}

.ext {
    background-color: #7d64dc;
}

.ext-panels {
    display: flex;
    flex-direction: row;
}
.ext-panels-left {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ext-panels-left img {
    max-width: 500px;
}
.ext-panels-right {
    padding: 20px;
    color: #ffffff;
}
.ext-panels-right h2 {
    text-align: left;
    line-height: 40px;
}
.ext h2 {
    font-size: 30px;
    margin-top: 0;
}
.ext .ext-feature {
    font-size: 20px;
    margin-top: 10px;
}
.ext .ext-feature span {
    background-color: #ffffff;
    color: #7d64dc;
    display: inline;
    padding-top: 3px;
    padding-bottom: 3px;
    word-wrap: break-word;
    position: relative;
    left: 5px;
    padding-left: 0;
    box-shadow: 10px 0 0 #ffffff, -10px 0 0 #ffffff;
    line-height: 30px;
}
.ext-link-row {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 300;
}
.ext-link-row a {
    text-decoration: underline;
}
.ext-web-store {
    margin-top: 20px;
    width: 250px;
}

@media (max-width: 900px) {
    .ext-panels {
        flex-direction: column;
    }
    .ext-panels-left img {
        max-width: 100%;
    }
}
