html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
@font-face {
    font-family: lato;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Lato Light"), local("Lato-Light"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: lato;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Lato Regular"), local("Lato-Regular"),
        url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: lato;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Lato Bold"), local("Lato-Bold"),
        url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2)
            format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
body {
    margin: 0;
    font-size: 0;
    font-family: lato, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
.page-margin {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.submit {
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    margin-top: 45px;
    font-size: 35px;
    margin-bottom: 45px;
}
h2 {
    font-size: 30px;
}
p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}
p a {
    font-weight: 600;
    color: #7d64dc;
}
p a:hover {
    text-decoration: underline;
}
.submit-details {
    font-size: 22px;
    line-height: 36px;
}
.submit-details span {
    font-weight: 300;
    color: #5d5d5d;
}
.submit-store {
    margin: 35px 0;
    width: 10%;
    display: inline-block;
    padding: 3px;
    box-sizing: border-box;
}
.submit-store img {
    border-radius: 50%;
    width: 100%;
}
@media (max-width: 750px) {
    .submit-store {
        width: 20%;
    }
}
.submit-cta {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.submit-button {
    font-size: 25px;
    background-color: #7d64dc;
    color: #fff;
    display: inline-block;
    border: 2px solid #7d64dc;
    border-radius: 8px;
    padding: 7px 15px;
    cursor: pointer;
}
.submit-button:hover {
    color: #7d64dc;
    background-color: #fff;
}
@media (max-width: 750px) {
    .submit-button {
        font-size: 20px;
    }
}
.top-nav {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eae6e6;
    position: relative;
}
.top-nav .page-margin {
    position: relative;
}
.top-nav .logo {
    display: inline-block;
    font-weight: 600;
    font-size: 35px;
    color: #000;
    line-height: 80px;
    letter-spacing: -2px;
    position: absolute;
    z-index: 100;
}
.top-nav .logo a {
    color: inherit;
    text-decoration: none;
}
.top-nav .logo .we {
    font-weight: 300;
}
.top-nav .nav-centre {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.top-nav ul.top-nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.top-nav ul.top-nav-items li {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
    letter-spacing: 0.5px;
    height: 100%;
    line-height: 80px;
}
.top-nav ul.top-nav-items li:hover .nav-expander {
    display: inline-block;
}
.top-nav ul.top-nav-items li .nav-expander {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #eae6e6;
    border-top: 1px solid #fff;
    padding: 0 20px 10px;
}
.top-nav ul.top-nav-items li .nav-expander h2 {
    margin: 0;
}
.top-nav ul.top-nav-items li .nav-expander ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 50px;
}
.top-nav ul.top-nav-items li .nav-expander ul li {
    display: inline-block;
    background-color: #e6e6e6;
    line-height: 35px;
    margin-left: 4px;
    margin-right: 4px;
    color: #565656;
}
.top-nav ul.top-nav-items li .nav-expander ul li:hover {
    text-decoration: underline;
}
.top-nav .nav-icons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.top-nav .nav-icon {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    margin-left: 20px;
}
.top-nav .nav-icon-search {
    line-height: 80px;
}
.top-nav .nav-icon-menu {
    display: none;
}
.top-nav .vertical-align-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.top-nav .nav-icon-img {
    height: 30px;
    vertical-align: middle;
}
.top-nav .nav-search {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-nav .nav-search input {
    font-size: 20px;
    font-family: lato, sans-serif;
    font-weight: 300;
    width: 400px;
    text-align: center;
    padding: 5px;
}
.top-nav .nav-search input:focus {
    outline: 2px solid #e1e1e1;
}
.top-nav .top-nav-items-search-show {
    display: none;
}
.top-nav .search-box-hide {
    display: none;
}
.top-nav .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    top: 98% !important;
    border: 1px solid #e1e1e1;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions {
    text-align: left;
    padding: 5px 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion {
    line-height: 50px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: 300;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion em {
    font-style: normal;
    font-weight: 400;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion:hover {
    text-decoration: underline;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
.top-nav .aa-dropdown-menu .aa-dataset-1 .aa-suggestions .aa-suggestion span {
    font-size: 20px;
    vertical-align: middle;
}
@media (max-width: 900px) {
    .top-nav {
        height: 50px;
    }
    .top-nav .nav-margin {
        text-align: center;
    }
    .top-nav .top-nav-items {
        border-bottom: 1px solid #eae6e6;
    }
    .top-nav .logo {
        position: relative;
        line-height: 50px;
        font-size: 30px;
    }
    .top-nav .nav-icon-menu {
        display: inline-block;
    }
    .top-nav .nav-icon-search {
        display: none;
    }
    .top-nav .nav-search {
        width: 100%;
    }
    .top-nav .nav-search input {
        border: 1px solid #e1e1e1;
        max-width: 90%;
    }
    .top-nav .algolia-autocomplete {
        width: 100%;
    }
    .top-nav .aa-dropdown-menu {
        margin: auto 4%;
        width: 92%;
        box-sizing: border-box;
    }
    .top-nav .nav-centre {
        display: none;
        top: auto;
        left: auto;
        transform: none;
    }
    .top-nav .mobile-menu-show {
        display: block;
        width: 100%;
    }
    .top-nav ul.top-nav-items {
        display: block;
        height: auto;
        position: absolute;
        background-color: #fff;
        width: 100%;
    }
    .top-nav ul.top-nav-items li {
        display: block;
    }
    .top-nav ul.top-nav-items li:hover .nav-expander {
        display: block;
    }
    .top-nav ul.top-nav-items li .nav-expander {
        position: relative;
        display: block;
        border: none;
        padding: 0;
    }
    .top-nav ul.top-nav-items li .nav-expander h2 {
        display: none;
    }
    .top-nav ul.top-nav-items li .nav-expander ul {
        line-height: 40px;
    }
    .top-nav ul.top-nav-items li .nav-expander ul li {
        line-height: 30px;
        font-size: 12px;
        height: auto;
        padding: 0 6px;
        margin: 3px;
    }
}
@media (max-width: 900px) {
    .top-nav .nav-icons {
        margin-right: 20px;
    }
}
.page-footer {
    width: 100%;
    background-color: #343538;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 20px;
}
.page-footer .page-margin {
    margin-left: auto;
    margin-right: auto;
}
.page-footer .footer-col {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    vertical-align: top;
    box-sizing: border-box;
}
.page-footer .footer-col:nth-of-type(4n-3) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-2) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-1) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col:nth-of-type(4n-0) {
    padding-left: 12px;
    padding-right: 12px;
}
.page-footer .footer-col .footer-col-heading {
    font-weight: 400;
    line-height: 30px;
}
.page-footer .footer-col .footer-logo {
    font-size: 30px;
}
.page-footer .footer-col .footer-logo .footer-logo-we {
    font-weight: 300;
}
.page-footer .footer-col .footer-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    margin-top: 22px;
}
.page-footer .footer-col ul {
    list-style: none;
    padding: 0;
}
.page-footer .footer-col ul li {
    font-size: 15px;
    font-weight: 300;
    line-height: 35px;
}
.page-footer .footer-col a:hover {
    text-decoration: underline;
}
.page-footer .footer-col ul.social-links li {
    display: inline-block;
}
.page-footer .footer-col ul.social-links li a img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.page-footer .footer-col ul.social-links li a img:hover {
    opacity: 0.7;
}
@media (max-width: 900px) {
    .page-footer .footer-col {
        width: 50%;
        margin-bottom: 50px;
    }
    .page-footer .footer-col:nth-of-type(2n-1) {
        padding-right: 5px;
        padding-left: 25px;
    }
    .page-footer .footer-col:nth-of-type(2n-0) {
        padding-right: 25px;
        padding-left: 5px;
    }
    .page-footer .footer-col .footer-text {
        line-height: 25px;
    }
    .page-footer .footer-col ul li {
        line-height: 30px;
    }
}
